<div style="flex-basis: 100%; height: 0"></div>

<section class="container page">
  <article>
    <h1 id="aboutme">About Me</h1>
    <p>My name is Hunter Anderson. I'm a software architect and doctoral student.</p>
    <p>
      After completing my Bachelors of Science in 2018 at Louisana Tech University, I took up a job as a software developer in Austin, TX.
      Since then, the majority of my industry experience has been in Java-based enterprise SaaS development.
      I've served as a software developer, a DevOps engineer, and am currently a <strong>software architect</strong> designing containerized cloud native web applications.
    </p>
    <p>
      In 2024, with over 6 years of industry experience, I began a <strong>PhD at Texas State University</strong>.
      With my postdoctoral sights set on academia, my goal is to work on exciting novel problems while mentoring the next generation of students.
    </p>

    <h1 id="research">Research</h1>
    <p>
      My research interests include compilers and runtimes.
      I'm especially interested in research relevant to technologies like the Java Virtual Machine, Graal Native Image, and WebAssembly.
      These technologies highlight the connection between my PhD research and over 6 years of industry experience.
    </p>

    <h1 id="teaching">Teaching</h1>
    <p><em>No courses are listed at this time.</em></p>

    <h1 id="service">Service</h1>
    <p><em>No service is listed at this time.</em></p>
  </article>
</section>